<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Translate.api" version="0.3.1" targetFramework="net461" />
  <package id="RestSharp" version="104.4.0" targetFramework="net461" />
  <package id="WebTTS" version="1.0.6235.19053" targetFramework="net461" />
  <package id="WebTTS.GoogleTranslate" version="1.0.6312.18505" targetFramework="net461" />
  <package id="YandexLinguistics.NET" version="1.1" targetFramework="net461" />
</packages>